<link href="../css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="../js/select-ui.min.js"></script>
<div class="formbody">
  <div id="usual1" class="usual">
    <div class="itab">
      <ul>
        <li><a href="#tab1">{$location}管理</a></li>
        {if $_a =='edit'}<li><a href="#tab3" class="selected">编辑{$location}</a></li>{/if}
      </ul>
    </div>
    <div id="tab1" class="tabson">
    <form method="get">
      <ul class="seachform">
        <li>
          <label>综合查询</label>
          <input name="kw" type="text" class="scinput" />
        </li>
        <li>
          <label>&nbsp;</label>
          <input name="" type="submit" class="scbtn" value="查询"/>
        </li>
      </ul>
     </form>
      <table class="tablelist">
        <thead>
          <tr>
            <th>类型</th>
            <th>名称</th>
            <th>产品</th>
            <th class="cen">版本</th>
            <th class="cen">状态</th>
            <th class="cen">进度</th>
            <th class="cen">结果</th>
            <th class="cen">创建时间</th>
            <th class="cen">操作</th>
          </tr>
        </thead>
        <tbody>
        {if !empty($items)}
        {foreach $items as $k=>$t}
          <tr>
            <td>{$t['type']}</td>
            <td>{$t['title']}</td>
            <td>{$t['proname']}</td>
            <td class="cen">V{$t['version']}</td>
            <td class="cen">{$t['state']|project_state}</td>
            <td class="cen">{$t['progress']}/{$t['progress_total']}</td>
            <td class="cen">{$t['result_state']|project_result_state}</td>
            <td class="cen">{$t['addtime']|timetodate}</td>
            <td class="cen">
            	<a href="{:url('project/delete')}?id={$t['id']}" onclick="return confirm('您确定删除吗？')" class="tablelink"> 删除</a>
                
                <a href="{:url('project/edit')}?id={$t['id']}" class="tablelink">编辑/查看</a>
                
                <a href="{:url('project/report')}?id={$t['id']}" class="tablelink">详情</a>
            </td>
          </tr>
        {/foreach}
        {/if}
        </tbody>
      </table>
      {if !empty($items)}
      <div class="pagin">{$items->render()}</div>
      {/if}
    </div>
    {if $_a =='edit'}
    <div id="tab3" class="tabson">
    <form method="post" action="{:url('project/edit')}">
    {:widget('common/from/show',['model'=>'project','act'=>'edit','data'=>$item])}
    </form>
    </div>
    {/if}
  </div>
  <script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script> 
  <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script> 
</div>
