{layout name="layout" /}
<style>.chengyuan{ display: none; border:1px solid #ccc; }</style>
<script>$(function() {
  $(".chakan").click(function() {
    $(this).next(".chengyuan").toggle();
  })
})</script>
<link href="__ASSETS__/css/info-mgt.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<div class="title">
<h2>标签库</h2></div>
<div class="query" style="border-bottom:0px;">
<div class="search">
  <form id="foodmate_search" action="" onsubmit="return Dsearch(1);">
    <input type="hidden" name="file" value="search" />
    <input name="kw" id="destoon_kw" type="text" class="sousuo" value="请输入关键词" onfocus="if(this.value=='请输入关键词') this.value='';" onkeyup="STip(this.value);" x-webkit-speech="" speech="">
    <input class="search_s" type="submit" value=" "></form>
</div>
</div>
<div class="lieb_box">
<table width="100%" border="0" cellpadding="0" cellspacing="1" class="wdwmbg" bgcolor="#c1d3de" style="border:0px;">
  <tr>
    <th align="center" bgcolor="#ffffff" width="30%">
      <strong>标签名称</strong></th>
    <th align="center" bgcolor="#ffffff" width="5%">
      <strong>版本号</strong></th>
    <th align="center" bgcolor="#ffffff" width="10%">
      <strong>版本名称</strong></th>
    <th align="center" bgcolor="#ffffff" width="10%">
      <strong>存档时间</strong></th>
    <th align="center" bgcolor="#ffffff" width="10%">
      <strong>历史版本</strong></th>
    <th align="center" bgcolor="#ffffff" width="10%">
      <strong>评审过程</strong></th>
    <th align="center" bgcolor="#ffffff" width="10%">
      <strong>下载标签</strong></th>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFFFF">烟台大樱桃</td>
    <td align="center" bgcolor="#FFFFFF">v2</a></td>
    <td align="center" bgcolor="#FFFFFF">V2</a></td>
    <td align="center" bgcolor="#FFFFFF">2016-05-31 10:13:33</td>
    <td align="center" bgcolor="#FFFFFF">
      <a href="?file=index&action=history&lid=318">历史版本</a></td>
    <td align="center" bgcolor="#FFFFFF">
      <a href="?file=index&action=show&xmid=240&lid=318">查看</a></td>
    <td align="center" bgcolor="#FFFFFF">
      <a href="?file=index&action=download&lid=318">下载</a></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFFFF">存档项目大樱桃</td>
    <td align="center" bgcolor="#FFFFFF">v1</a></td>
    <td align="center" bgcolor="#FFFFFF">V1</a></td>
    <td align="center" bgcolor="#FFFFFF">2016-05-31 10:10:59</td>
    <td align="center" bgcolor="#FFFFFF">
      <a href="?file=index&action=history&lid=319">历史版本</a></td>
    <td align="center" bgcolor="#FFFFFF">
      <a href="?file=index&action=show&xmid=241&lid=319">查看</a></td>
    <td align="center" bgcolor="#FFFFFF">
      <a href="?file=index&action=download&lid=319">下载</a></td>
  </tr>
</table>
<div class="pages"></div>
</div>