<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>用户信息</title>
<style>
table.mytable{
width:90%;
margin:20px auto;
border-collapse: collapse;
font-size: 13px;
font-family: "微软雅黑";
}
table.mytable td{
border:1px solid #ccc;
padding:10px;
}
.t1{
width:30%;
background: #E3EFF6;
text-align: center;
font-weight: bold;
}
.t2{
}
</style>
</head>
<body>
<table class="mytable">
<tr>
<td class="t1">姓名</td>
<td class="t2">{$realname}</td>
</tr>
<tr>
<td class="t1">部门</td>
<td class="t2">{$dept_name}</td>
</tr>
<tr>
<td class="t1">职位</td>
<td class="t2">{$zhiwei}</td>
</tr>
<tr>
<td class="t1">手机号</td>
<td class="t2">{$telephone}</td>
</tr>
<tr>
<td class="t1">固话号码</td>
<td class="t2">{$phone}</td>
</tr>
<tr>
<td class="t1">邮箱</td>
<td class="t2">{$email}</td>
</tr>
<tr>
<td class="t1">职责</td>
<td class="t2">{$zhize}</td>
</tr>
</table>
</body>
</html>